# Preprocessing the Data

First let's read the cleaned data from the all_data_cleaned.csv file into a pandas DataFrame.

In [1]:
import settings
import os

import pandas as pd
data = pd.read_csv(os.path.join(settings.PROCESSED_DATA_DIR, "all_data_cleaned.csv"), index_col =0)

In [2]:
print data.shape
data.head()

(74249, 24)

,funder,gps_height,installer,longitude,latitude,basin,region_code,ward,population,public_meeting,...,management,payment_type,water_quality,quantity,source,waterpoint_type,subset,area,year_recorded,day_recorded
id,,,,,,,,,,,,,,,,,,,,,
69572,Roman,1390,Roman,34.938093,-9.856322,Lake Nyasa,11,Mundindi,109,True,...,vwc,annually,soft,enough,spring,communal standpipe,training,other,2011,73
8776,Grumeti,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,20,Natta,280,True,...,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,training,other,2013,65
34310,Lottery Club,686,World vision,37.460664,-3.821329,Pangani,21,Ngorika,250,True,...,vwc,per bucket,soft,enough,dam,communal standpipe multiple,training,other,2013,56
67743,Unicef,263,UNICEF,38.486161,-11.155298,Ruvuma / Southern Coast,90,Nanyumbu,58,True,...,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,training,other,2013,28
19728,Action In A,0,Artisan,31.130847,-1.825359,Lake Victoria,18,Nyakasimbi,0,True,...,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,training,other,2011,194

In [3]:
labels = pd.read_csv(os.path.join(settings.DATA_DIR, "Training set labels.csv"), index_col =0)
labels.head()

         status_group
id
69572      functional
8776       functional
34310      functional
67743  non functional
19728      functional

In [4]:
training_data = data.loc[data['subset'] == 'training']
training_data = training_data.join(labels, how='inner')
test_data = data.loc[data['subset'] == 'test']
del training_data['subset']
del test_data['subset']

In [5]:
print training_data.shape
training_data.head()

(59399, 24)

,funder,gps_height,installer,longitude,latitude,basin,region_code,ward,population,public_meeting,...,management,payment_type,water_quality,quantity,source,waterpoint_type,area,year_recorded,day_recorded,status_group
id,,,,,,,,,,,,,,,,,,,,,
69572,Roman,1390,Roman,34.938093,-9.856322,Lake Nyasa,11,Mundindi,109,True,...,vwc,annually,soft,enough,spring,communal standpipe,other,2011,73,functional
8776,Grumeti,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,20,Natta,280,True,...,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,other,2013,65,functional
34310,Lottery Club,686,World vision,37.460664,-3.821329,Pangani,21,Ngorika,250,True,...,vwc,per bucket,soft,enough,dam,communal standpipe multiple,other,2013,56,functional
67743,Unicef,263,UNICEF,38.486161,-11.155298,Ruvuma / Southern Coast,90,Nanyumbu,58,True,...,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,other,2013,28,non functional
19728,Action In A,0,Artisan,31.130847,-1.825359,Lake Victoria,18,Nyakasimbi,0,True,...,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,other,2011,194,functional

In [6]:
print test_data.shape
test_data.head()

(14850, 23)

,funder,gps_height,installer,longitude,latitude,basin,region_code,ward,population,public_meeting,...,extraction_type,management,payment_type,water_quality,quantity,source,waterpoint_type,area,year_recorded,day_recorded
id,,,,,,,,,,,,,,,,,,,,,
50785,Dmdd,1996,DMDD,35.290799,-4.059696,Internal,21,Bashay,321,True,...,other,parastatal,never pay,soft,seasonal,rainwater harvesting,other,other,2013,35
51630,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Pangani,2,Kimnyaki,300,True,...,gravity,vwc,never pay,soft,insufficient,spring,communal standpipe,rural,2013,35
17168,Others,1567,Others,34.767863,-5.004344,Internal,13,Puma,500,True,...,other,vwc,never pay,soft,insufficient,rainwater harvesting,other,rural,2013,32
45559,Finn Water,267,FINN WATER,38.058046,-9.418672,Ruvuma / Southern Coast,80,Mkutano,250,True,...,other,vwc,unknown,soft,dry,shallow well,other,other,2013,22
49871,Bruder,1260,BRUDER,35.006123,-10.950412,Ruvuma / Southern Coast,10,Mbinga Urban,60,True,...,gravity,water board,monthly,soft,enough,spring,communal standpipe,other,2013,86

In [7]:
training_data.to_csv('data/training_data_cleaned.csv', encoding='utf-8')
test_data.to_csv('data/test_data_cleaned.csv', encoding='utf-8')

## Handling non numeric features

The data contains many categorical variables which are not numeric. In order to be able to fit them to a machine learning algorithm later on, I need to convert them to numeric lables.
To do so, I will use the [LabelEncoder](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html#sklearn.preprocessing.LabelEncoder) class from the sickit_learn library.

*LabelEncoder is a utility class to help normalize labels such that they contain only values between 0 and n_classes-1. It can also be used to transform non-numerical labels (as long as they are hashable and comparable) to numerical labels.*

Let's start by selecting the non numeric features:

In [8]:
non_numeric_features = ['funder','installer','basin', 'public_meeting', 'ward', 'scheme_management', 'permit',
                        'extraction_type','management', 'payment_type', 'water_quality', 'quantity', 'source', 
                        'waterpoint_type', 'area']

In [9]:
data[non_numeric_features].head()

,funder,installer,basin,public_meeting,ward,scheme_management,permit,extraction_type,management,payment_type,water_quality,quantity,source,waterpoint_type,area
id,,,,,,,,,,,,,,,
69572,Roman,Roman,Lake Nyasa,True,Mundindi,VWC,False,gravity,vwc,annually,soft,enough,spring,communal standpipe,other
8776,Grumeti,GRUMETI,Lake Victoria,True,Natta,Other,True,gravity,wug,never pay,soft,insufficient,rainwater harvesting,communal standpipe,other
34310,Lottery Club,World vision,Pangani,True,Ngorika,VWC,True,gravity,vwc,per bucket,soft,enough,dam,communal standpipe multiple,other
67743,Unicef,UNICEF,Ruvuma / Southern Coast,True,Nanyumbu,VWC,True,submersible,vwc,never pay,soft,dry,machine dbh,communal standpipe multiple,other
19728,Action In A,Artisan,Lake Victoria,True,Nyakasimbi,Other,True,gravity,other,never pay,soft,seasonal,rainwater harvesting,communal standpipe,other

Importing and initializing the LabelEncoder class :

In [10]:
from sklearn.preprocessing import LabelEncoder
lab_enc = LabelEncoder()

In [11]:
for feature in non_numeric_features:
    data[feature] = lab_enc.fit_transform(data[feature])

In [12]:
data[non_numeric_features].head()

,funder,installer,basin,public_meeting,ward,scheme_management,permit,extraction_type,management,payment_type,water_quality,quantity,source,waterpoint_type,area
id,,,,,,,,,,,,,,,
69572,1548,1706,1,1,1429,6,0,1,7,0,6,1,8,1,0
8776,522,610,4,1,1581,1,1,1,11,2,6,2,5,1,0
34310,924,2296,5,1,1629,6,1,1,7,5,6,1,0,2,0
67743,1961,2078,7,1,1576,6,1,10,7,2,6,0,3,2,0
19728,20,133,4,1,1692,1,1,1,1,2,6,3,5,1,0

In [13]:
training_data = data.loc[data['subset'] == 'training']
training_data = training_data.join(labels, how='inner')
test_data = data.loc[data['subset'] == 'test']
del training_data['subset']
del test_data['subset']
print training_data.shape
print test_data.shape

(59399, 24)
(14850, 23)

In [14]:
training_data['status_group'].value_counts()

functional                 32258
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [15]:
training_data['status_group'].loc[training_data['status_group'] == 'functional'] = 0
training_data['status_group'].loc[training_data['status_group'] == 'non functional'] = 1
training_data['status_group'].loc[training_data['status_group'] == 'functional needs repair'] = 2

C:\Users\ra18m\Anaconda\lib\site-packages\pandas\core\indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [16]:
training_data.head()

,funder,gps_height,installer,longitude,latitude,basin,region_code,ward,population,public_meeting,...,management,payment_type,water_quality,quantity,source,waterpoint_type,area,year_recorded,day_recorded,status_group
id,,,,,,,,,,,,,,,,,,,,,
69572,1548,1390,1706,34.938093,-9.856322,1,11,1429,109,1,...,7,0,6,1,8,1,0,2011,73,0
8776,522,1399,610,34.698766,-2.147466,4,20,1581,280,1,...,11,2,6,2,5,1,0,2013,65,0
34310,924,686,2296,37.460664,-3.821329,5,21,1629,250,1,...,7,5,6,1,0,2,0,2013,56,0
67743,1961,263,2078,38.486161,-11.155298,7,90,1576,58,1,...,7,2,6,0,3,2,0,2013,28,1
19728,20,0,133,31.130847,-1.825359,4,18,1692,0,1,...,1,2,6,3,5,1,0,2011,194,0

In [17]:
test_data.head()

,funder,gps_height,installer,longitude,latitude,basin,region_code,ward,population,public_meeting,...,extraction_type,management,payment_type,water_quality,quantity,source,waterpoint_type,area,year_recorded,day_recorded
id,,,,,,,,,,,,,,,,,,,,,
50785,345,1996,426,35.290799,-4.059696,0,21,18,321,1,...,6,3,2,6,3,5,6,0,2013,35
51630,507,1569,442,36.656709,-3.309214,5,2,693,300,1,...,1,7,2,6,2,8,1,1,2013,35
17168,1358,1567,1515,34.767863,-5.004344,0,13,1792,500,1,...,6,7,2,6,2,5,6,1,2013,32
45559,443,267,545,38.058046,-9.418672,7,80,1283,250,1,...,6,7,6,6,0,7,6,0,2013,22
49871,150,1260,164,35.006123,-10.950412,7,10,1157,60,1,...,1,9,1,6,1,8,1,0,2013,86

In [18]:
training_data.to_csv('processed/training_data_processed.csv', encoding='utf-8')
test_data.to_csv('processed/test_data_processed.csv', encoding='utf-8')